body {background-color: rgb(160, 159, 159);
    border-top: 0px solid black;
    border-left: 30px solid black;
    border-right: 30px solid black;
    border-bottom: 20px solid black;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
}
p, li, a  {font-family: monospace; font-size: 18px;}
h1, h2, h3, h4, h5, h6 {font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}