p b {background-color: rgb(215, 31, 14);
text-decoration: underline;}

body {background-color: rgb(160, 159, 159);
    margin: 0px;}

.sublinhado {text-decoration: underline;}

a {font-size: 20px; color: rgb(17, 0, 255); cursor: pointer;}

.outro-cor {font-size: 18px; color: rgb(8, 12, 243);}

a:hover {color: chartreuse;}

.apresentacao {background-color: gray; border: 5px solid black;}

nav {background-color: rgb(187, 1, 1);
margin: 0px;}

.button {background-color: rgb(205, 205, 154);}

.contato {background-color: yellowgreen; border: 5px solid black;
            text-align: center;
            height: 80px;
            width: 300px;
            position: left;
            top: 20px;
            left: 20px;}
.contato a{font-size: 15px;}

.contato a:hover{color: rgb(204, 39, 39); font-size: 20px;}

#menu-h {
    background-color: black;
    border: 0px;
    padding: 0px;
    border-top: 0px;
    padding-top: 0px;
}
#menu-h ul{
    max-width: 800px;
    list-style: none;
    padding: 0;
    margin-top: 0px;
    margin-bottom: 0px;
}
#menu-h ul li{
    display: inline-block;
    margin-top: 0px;
}
#menu-h ul li a{
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 20px;
    transition: background .3s;
    text-align: center;
}
#menu-h ul li a:hover{
    color: red;
    background-color: rgb(233, 233, 102);
    padding: 35px;
}
.cortina {
          margin-top: 0px;
          margin-bottom: 20px;
          border-left: 30px solid black;
        border-right: 30px solid black;}