.menu-h {
    display: flex;
    flex-direction: row;
    background-color: #121122;
    border-right: 2px solid #121122;
    border-left: 2px solid #121122;
    border-top: 0px;
    border-bottom: 0px;
    height: 35px;
    justify-content: space-between;
}
.menu-mini {
    display: flex;
}
.menu-icon {
    display: block;
    float: left;
    margin-right: 30%;
}
.menu-logout {
    display: flex;
    margin-left: 30%;
    align-content: flex-end;
    margin-right: 0px;
    color: #121122;
}
.menu-a {
    display: flex;
    border: 3px solid #ED009C;
    height: 30px;
    color: #121122;
    width: 80px;
    justify-content: space-around;
}
.menu-a :hover {
    width: 60px;
    background-color: white;
    border: 3px solid #ED009C;
    align-content: flex-end;
    margin-right: 0px;
    display: block;
    float: right;
    color: #ED009C;
}

.menu-direction {
    display: block;
    background-color: #121122;
    align-self: center;
    margin: 0px;
    border: 0px;
}
.menu-direction :hover {
    background-color: white;
    padding-left: 5px solid white;
    padding-right: 5px solid white;
    
}
.menu-p {
    height: 35px;
    padding-bottom: 8px;
    padding-top: 7px;
    height: 23px;
    border: 2px solid #ED009C;
    padding-left: 5px;
    padding-right: 7px;
    margin: 0px -1px 0px -1px;
    color: #ED009C;
    text-decoration:  None;
}
